*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("ttf");
}

:root {
  font-size: 18px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  max-width: 945px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2em;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.2;
}

.item--lang {
  display: none;
}

.nav__menu {
  list-style: none;
  padding: 1.7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(130, 130, 130, 0.5);
}

.menu__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__content {
  margin: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__content .content__name {
  font-size: 2.5rem;
  line-height: 59px;
  -ms-flex-preferred-size: 4em;
      flex-basis: 4em;
}

.header__content .content__info {
  font-family: "Gilroy Medium", sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1em;
}

.about {
  background-color: #f6f6f6;
}

.about .about__inner {
  padding: 6.7em 0;
  text-align: center;
}

.about .about__inner .about__title {
  margin-bottom: 1em;
}

.about .about__inner .about__info {
  margin-bottom: 3em;
}

.portfolio__inner {
  padding: 6.7em 0;
  text-align: center;
}

.portfolio__inner .portfolio__title {
  margin-bottom: 1em;
}

.portfolio__inner .portfolio__block {
  margin-bottom: 3em;
}

.portfolio__inner .portfolio__block .block__image {
  margin-bottom: 2em;
}

.portfolio__inner .portfolio__block .block__link {
  font-family: "Gilroy Medium", sans-serif;
  padding: 1rem 1.25rem;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.portfolio__inner .portfolio__block .block__link:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #000;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}

.portfolio__inner .portfolio__block .block__link:hover {
  color: #fff;
}

.portfolio__inner .portfolio__block .block__link:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.footer {
  background-color: #f6f6f6;
}

.footer__inner {
  text-align: center;
  padding: 6.7em 0;
}

.footer__inner .footer__upper {
  margin-bottom: 3em;
}

.footer__inner .footer__upper .footer__title {
  margin-bottom: 1em;
}

.footer__inner .footer__upper .footer__desc {
  font-family: "Gilroy Medium", sans-serif;
  margin-bottom: 1em;
}

.footer__inner .footer__upper .footer__desc:last-of-type {
  margin-bottom: 2em;
}

.footer__inner .footer__upper .footer__link {
  background-color: #070707;
  color: #fff;
  padding: 0.7em 2.5em;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.footer__inner .footer__message {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5em;
  margin-bottom: 2em;
}

.footer__inner .footer__write {
  font-family: "Gilroy Medium", sans-serif;
  color: #828282;
}

.footer__inner .message__img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

[type="checkbox"] {
  display: none;
}

@media (any-hover) {
  .menu__link:hover:after {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .message__img:hover,
  .footer__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header__nav .menu__item {
    color: #000;
  }
  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 2rem;
    gap: 2em;
    margin-left: 1em;
  }
  #active:checked ~ .header__nav {
    right: 0;
  }
  #active:checked ~ .header__nav .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  #active:checked + .menu__btn span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  #active:checked + .menu__btn::before {
    border-color: #000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #active:checked + .menu__btn::after {
    border-color: #000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu__btn {
    position: absolute;
    right: 0px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu__btn span,
  .menu__btn:before,
  .menu__btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu__btn:before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .menu__btn:after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .about .about__inner,
  .portfolio__inner,
  .footer__inner {
    padding: 3em 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
